{% extends 'layout.html' %}

{% block angular %}
ng-app
{% endblock %}

{% block header %}
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a ng-href="/">Dashboard</a></li>
      <li><a ng-href="/ads">Meus Ads</a></li>
      <li><a ng-href="/novo/ad">Novo Ad</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <img class="pull-left" src="{{ user.email | gravatar }}">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ng-href="/perfil">Editar perfil</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}
