{% extends 'layout.html' %}

{% block header %}
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block body %}
  {% if error %}
    <div class="alert alert-danger container text-center mt">{{ error }}</div>
  {% endif %}

  <form action="{{ url_for('login') }}" method="post" class="form-signin">
    {{ form.csrf_token }}
      <label class="sr-only">Email:</label>
      <input class="form-control" type="email" name="email" placeholder="email">

      <label class="sr-only">Password:</label>
      <input class="form-control" type="password" name="password" placeholder="senha">

      <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
  </form>
{% endblock %}
